<div class=pinyin>{{Pinyin}}</div>
<div class=english>{{Meaning}}</div>
<div class=say>{{Audio}}</div>
<div class="horizontal-container">
  <div class="vertical-column">
    {{StrokeOrder}}
  </div>
  <div class="vertical-column" id="drawing-review"></div>
</div>
{{ExampleWord}}
{{#GlyphOrigin}}<div class=glosses>{{GlyphOrigin}}</div>{{/GlyphOrigin}}
{{#PartOrigins}}<hr class=partStep><div class="glosses parts">{{PartOrigins}}</div>{{/PartOrigins}}

<script>
setTimeout(function () {
  const drawings = JSON.parse(sessionStorage.getItem("anki-drawings") || "[]");
  const container = document.getElementById("drawing-review");

  if (!drawings.length) { container.remove(); }
  drawings.forEach(dataURL => {
    const img = document.createElement("img");
    img.src = dataURL;
    img.className = "stroke";
    container.appendChild(img);
  });
}, 0);
</script>
