<div class=hanzi><a href="https://en.wiktionary.org/wiki/{{Traditional}}#Chinese">{{Simplified}}</a></div>
<div class=pinyin>{{Pinyin}}</div>
<div class=english>{{Meaning}}</div>
<div class=description>{{PartOfSpeechGlossed}}{{#Classifier}} &middot; {{Classifier}} <span class=en>classifier</span>{{/Classifier}}</div>
<div class=say>{{Audio}}</div>
{{#Homographs}}<div class="homograph">{{Homographs}}</div>{{/Homographs}}
{{#Homophones}}<div class=description>{{Homophones}} <span class=en>same sound</span></div>{{/Homophones}}
<div class=strokes>{{StrokeOrder}}</div>
{{#Literal}}<div class=literal>literally &ldquo;{{Literal}}&rdquo;</div>{{/Literal}}
{{#ExampleSentence}}<div class=usage>{{ExampleSentence}}</div>{{/ExampleSentence}}
{{#Components}}<div class=glosses>{{Components}}</div>{{/Components}}
{{#PartOrigins}}<hr class=partStep><div class="glosses parts">{{PartOrigins}}</div>{{/PartOrigins}}

<script>
document.querySelectorAll(".strokes img.stroke").forEach(function (i) {
  i.addEventListener("click", function () { i.classList.toggle("big"); });
});
</script>
